schema/system-components/main.xsd

<xs:schema
    targetNamespace="http://calphad.org/thermml/v0"
    elementFormDefault="qualified"
    version="0.1"
    xmlns="http://calphad.org/thermml/v0"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="SystemComponentIdType">
        <xs:annotation>
            <xs:documentation> An identifier for system component, typically an
                element of the periodic table. </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z][a-z]?" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="SystemComponentType">
        <xs:annotation>
            <xs:documentation> The most basic component from which phase constituents
                are constructed. </xs:documentation>
        </xs:annotation>
        <xs:attribute name="symbol" type="SystemComponentIdType" use="required">
            <xs:annotation>
                <xs:documentation> A symbol used for display purposes. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="molarMass" type="xs:float" use="optional" default="0.0">
            <xs:annotation>
                <xs:documentation> The molar mass of a system component, in g/mol. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="refstate" type="OptionalNoWhitespaceString" use="optional">
            <xs:annotation>
                <xs:documentation> The component reference state. It may be empty; when
                    non-empty, consumers should interpret it as a phase-name token and semantic
                    validation may require it to match a declared phase name in the same
                    document. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="h298" type="xs:float" use="optional" default="0.0">
            <xs:annotation>
                <xs:documentation> Component enthalpy at 298.15 K in J/mol. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="s298" type="xs:float" use="optional" default="0.0">
            <xs:annotation>
                <xs:documentation> Component entropy at 298.15 K in J/K/mol. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

</xs:schema>