schema/simple-types/main.xsd

<xs:schema
    targetNamespace="http://calphad.org/thermml/v0"
    elementFormDefault="qualified"
    version="0.1.0"
    xmlns="http://calphad.org/thermml/v0"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="SemanticVersionType">
        <xs:annotation>
            <xs:documentation> A Semantic Versioning 2.0.0 string (https://semver.org), e.g.
                "0.1.0". Composed of MAJOR.MINOR.PATCH with optional pre-release and build-metadata
                suffixes. The MAJOR version is also encoded in the schema target namespace (the
                ".../thermml/v0" segment), so a MAJOR bump implies a new namespace while MINOR and
                PATCH iterations stay within it. </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)(-((0|[1-9][0-9]*|[0-9]*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9][0-9]*|[0-9]*[a-zA-Z-][0-9a-zA-Z-]*))*))?(\+([0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*))?" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MatterStateType" final="restriction">
        <xs:annotation>
            <xs:documentation> An enumeration type of the matter of state of a phase. </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">

            <xs:enumeration value="solid" />
            <xs:enumeration value="liquid" />
            <xs:enumeration value="gas" />
            <xs:enumeration value="plasma" />
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="SignedIntegerString">
        <xs:annotation>
            <xs:documentation> An integer value that must always include a sign (+ or -), e.g., "+2", "-3", or be "0"
                without a sign. </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="0|[\+\-][1-9][0-9]*" />
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="NoWhitespaceString">
        <xs:annotation>
            <xs:documentation> A string that must not contain any whitespace characters (spaces, tabs, newlines). </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[^ \t\r\n]+" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="EmptyString">
        <xs:annotation>
            <xs:documentation> An explicitly empty string value. </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="0" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OptionalNoWhitespaceString">
        <xs:annotation>
            <xs:documentation> Either an empty string or a string without whitespace. </xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="EmptyString NoWhitespaceString" />
    </xs:simpleType>

    <xs:simpleType name="ConstituentSpeciesType">
        <xs:annotation>
            <xs:documentation>A string that types a general sublattice constituent. Must not
                contain whitespace.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[^ \t\r\n]+" />
        </xs:restriction>
    </xs:simpleType>

</xs:schema>