schema/expressions/core.xsd

<xs:schema
    targetNamespace="http://calphad.org/thermml/0.1"
    elementFormDefault="qualified"
    version="0.1"
    xmlns="http://calphad.org/thermml/0.1"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="../simple-types/main.xsd" />
    <xs:include schemaLocation="../system-components/main.xsd" />


    <xs:simpleType name="TernarySiteLocatorType">
        <xs:annotation>
            <xs:documentation> A fixed list of available site locators </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="i" />
            <xs:enumeration value="j" />
            <xs:enumeration value="k" />
        </xs:restriction>

    </xs:simpleType>
    <xs:simpleType name="FunctionVariableType">
        <xs:annotation>
            <xs:documentation> A fixed list of available function variables. </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="T" />
            <xs:enumeration value="P" />
            <xs:enumeration value="T,P" />
            <!-- To be extended -->
        </xs:restriction>

    </xs:simpleType>

    <xs:simpleType name="FunctionIDType">
        <xs:annotation>
            <xs:documentation>Name to identify a function. The format is typically
                "Species#PhaseName" (e.g. "SiO2#quartz", "Fe#BCC_A2"). Function names may
                contain alphanumerics, parentheses, brackets, colons, dots, slashes, commas,
                hyphens, underscores, angle brackets, and the hash separator. Names starting
                with "#" are allowed for internal references.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[^ \t\r\n]+" />
        </xs:restriction>
    </xs:simpleType>

</xs:schema>