schema/phases/cef-phase.xsd

<xs:schema
    targetNamespace="http://calphad.org/thermml/0.0"
    elementFormDefault="qualified"
    version="0.0"
    xmlns="http://calphad.org/thermml/0.0"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="core.xsd" />
    <xs:include schemaLocation="../expressions/main.xsd" />
    <xs:include schemaLocation="phase-properties.xsd" />

    <xs:simpleType name="MultiplicitiesStringType">
        <xs:annotation>
            <xs:documentation> A string that describes the Multiplicities. </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="(([0-9\.]*)|(\s*))*" />
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="SublatticeSiteType">
        <xs:annotation>
            <xs:documentation> A sublattice in a phase. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="site" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation> A site in a sublattice. </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute name="constituents" use="required" type="xs:string">
                        <xs:annotation>
                            <xs:documentation> The constituents of the site. </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="wyckoff" use="optional" type="xs:string">
                        <xs:annotation>
                            <xs:documentation xml:lang="en"> The Wyckoff position of the site. </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>

        <xs:attribute name="multiplicities" use="required" type="MultiplicitiesStringType">
            <xs:annotation>
                <xs:documentation> The stoichiometric factors for each sublattice. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="CrystalInformationType">
        <xs:annotation>
            <xs:documentation> Structural crystallographic information. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="spacegroup" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> The space group of the phase. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="prototype" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> The prototype of the phase. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="site" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation> A site in a sublattice. </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute name="constituents" use="required" type="xs:string">
                        <xs:annotation>
                            <xs:documentation> The constituents of the site. </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="wyckoff" use="optional" type="xs:string">
                        <xs:annotation>
                            <xs:documentation xml:lang="en"> The Wyckoff position of the site. </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="map" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> Provide mapping information for lattice sites
                        and crystallographic sites </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>

                        <xs:element name="site" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>

                                <xs:attribute name="from" use="required" type="xs:string">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="en"> The Wyckoff position of
                                            the site. </xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="to" use="optional" type="xs:string">
                                    <xs:annotation>
                                        <xs:documentation> The sublattice index </xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
        </xs:sequence>

    </xs:complexType>

    <xs:complexType name="SublatticePhaseModelType">
        <xs:annotation>
            <xs:documentation> The structure descriptors of a phase. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="sublattices" minOccurs="1" maxOccurs="1" type="SublatticeSiteType">
                <xs:annotation>
                    <xs:documentation> A site in a sublattice. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="crystallographic" minOccurs="0" type="CrystalInformationType">
                <xs:annotation>
                    <xs:documentation> The crystallographic information of the phase. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute use="optional" name="spacegroup" type="xs:integer">
            <xs:annotation>
                <xs:documentation> The space group of the phase. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute use="optional" name="prototype" type="xs:string">
            <xs:annotation>
                <xs:documentation> The prototype of the phase model. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <!--  TODO: here, more structure information can be added. -->
    </xs:complexType>

    <xs:complexType name="CEFEndmemberType">
        <xs:annotation>
            <xs:documentation> An endmember of a CEF phase. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string">
                <xs:annotation>
                    <xs:documentation> The name </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation> Description of the phase. Potentially: Sources,
                        DOI links. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="comment" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation> Comment, mostly for assessor's opinion, less
                        meant for valuable metadata. Use description for this. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="property" type="PhasePropertyType" minOccurs="0"
                    maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation> A property of the phase, e.g. Gibbs energy,
                            enthalpy, Bohr magneton, ... </xs:documentation>
                    </xs:annotation>
                </xs:element>

            </xs:choice>
        </xs:sequence>
        <xs:attribute use="required" name="constituents" type="xs:string">
            <xs:annotation>
                <xs:documentation> The constituents. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="CEFInteractionType">
        <xs:annotation>
            <xs:documentation> An interaction of a CEF phase. </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">

            <xs:choice maxOccurs="unbounded">
                <xs:element name="property" type="PhasePropertyType" minOccurs="0"
                    maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation> A property of the phase, e.g. Gibbs energy,
                            enthalpy, Bohr magneton, ... </xs:documentation>
                    </xs:annotation>
                </xs:element>

            </xs:choice>
        </xs:sequence>
        <xs:attribute use="required" name="constituents" type="xs:string">
            <xs:annotation>
                <xs:documentation> The constituents. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="CEFPhaseType">
        <xs:annotation>
            <xs:documentation> A simple solution phase. </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="PhaseType">
                <xs:sequence>

                    <xs:choice maxOccurs="unbounded">
                        <xs:element name="structure" type="SublatticePhaseModelType">
                            <xs:annotation>
                                <xs:documentation> The structure of the phase. </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="magnetic" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation> Magnetic phase information. </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="description" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation> A description of the phase. </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="assessed_systems" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation> Assessed systems for the phase. </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="ordering" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation> Ordering information for the phase. </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>

                    <xs:choice maxOccurs="unbounded">
                        <!-- endmembers-->
                        <xs:element name="endmember" type="CEFEndmemberType" minOccurs="1"
                            maxOccurs="unbounded" />

                        <!-- interactions-->
                        <xs:element name="interaction" minOccurs="0" maxOccurs="unbounded" />
                    </xs:choice>
                </xs:sequence>

                <!-- TODO -->
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>
