schema/phases/quasichemical-phase.xsd

<xs:schema
    targetNamespace="http://calphad.org/thermml/0.1"
    elementFormDefault="qualified"
    version="0.1"
    xmlns="http://calphad.org/thermml/0.1"
    xmlns:tm="http://calphad.org/thermml/0.1"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="core.xsd" />
    <xs:include schemaLocation="../expressions/main.xsd" />
    <xs:include schemaLocation="phase-properties.xsd" />

    <!-- ================================================================== -->
    <!-- MQM Endmember Property Types                                       -->
    <!-- ================================================================== -->

    <xs:complexType name="MQMEndmemberPropertyType">
        <xs:annotation>
            <xs:documentation>Abstract base type for thermodynamic properties of quasichemical
                model endmembers. Extends PhasePropertyType so that MQM endmembers can use both
                MQM-specific properties (e.g. MQM-G) and general physical properties (e.g.
                MolarVolume, ThermalExpansion) via xsi:type dispatch.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="PhasePropertyType">
                <!-- Additional elements or attributes specific to MQM endmember properties -->
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MQM-G">
        <xs:annotation>
            <xs:documentation>Gibbs energy parameter for the Modified Quasichemical Model (MQM).
                Includes the energy expression, the zeta coordination ratio, and the coordination
                numbers for cation and anion sublattices.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="MQMEndmemberPropertyType">
                <xs:sequence>
                    <xs:element name="expr" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Mathematical expression for the Gibbs energy of this
                                MQM endmember. Typically references global functions or other
                                endmembers, e.g. "+1*{Al#LIQUID}".</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="zeta" type="xs:float">
                        <xs:annotation>
                            <xs:documentation>Zeta coordination ratio for this endmember. Typically
                                set to 2.4 by convention, but may vary for specific systems.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="coordinationNumbers">
                        <xs:annotation>
                            <xs:documentation>Coordination numbers for cation and anion sublattices
                                in this MQM endmember.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="comment" type="xs:string" minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation>Optional comment on the coordination numbers.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="cation" type="xs:float" maxOccurs="1">
                                    <xs:annotation>
                                        <xs:documentation>Coordination number for the cation sublattice.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="anion" type="xs:float" maxOccurs="1">
                                    <xs:annotation>
                                        <xs:documentation>Coordination number for the anion sublattice.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- ================================================================== -->
    <!-- MQM Endmember Type                                                 -->
    <!-- ================================================================== -->

    <xs:complexType name="MQMEndmemberType">
        <xs:annotation>
            <xs:documentation>An endmember of a Modified Quasichemical Model (MQM) phase. Each
                endmember defines a pure-component end of the mixing space, with its own Gibbs
                energy, coordination parameters, and optional physical properties.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="description" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Optional description of the endmember, e.g. source references
                        or DOI links.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="comment" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Optional free-text comment for assessor notes. Use description
                        for formal metadata.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="stoichiometry" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Stoichiometric scaling factor for this endmember.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute name="scalingFactor" type="xs:decimal" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="constituents" minOccurs="1" maxOccurs="1" type="ConstituentArrayType">
                <xs:annotation>
                    <xs:documentation>The constituent array for this endmember, referencing species
                        defined in the parent phase's species block.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="property" type="PhasePropertyType" minOccurs="1"
                maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Thermodynamic or physical properties of this endmember. Use
                        xsi:type to select the concrete property type (e.g. MQM-G, MolarVolume,
                        ThermalExpansion, Compressibility, BulkModulusDerivative).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>Name of the endmember, typically a species name like "Al" or
                    "NaCl".</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- ================================================================== -->
    <!-- MQM Interaction Property Types                                     -->
    <!-- ================================================================== -->

    <xs:complexType name="MQMInteractionPropertyType">
        <xs:annotation>
            <xs:documentation>Base type for excess-interaction parameters of the Modified
                Quasichemical Model (SUBQ/MQM). These property types describe interaction terms
                between the species listed in the parent interaction constituents, and remain
                separate from endmember properties so that interaction-only parameter families
                cannot be attached to endmembers by mistake.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="AbstractPhasePropertyType">
                <!-- Concrete subtypes add their own expr elements -->
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MQM-L-PF">
        <xs:annotation>
            <xs:documentation>Pair-fraction expansion parameter for MQM excess energies. Binary
                terms use i and j as the exponents of the two mixing fractions. For asymmetric
                ternary pair-fraction terms, k indexes the contribution associated with the
                designated ternary corner, identified separately by the optional selected element.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="MQMInteractionPropertyType">
                <xs:sequence>
                    <xs:element name="expr" minOccurs="1" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>One coefficient expression of the pair-fraction
                                expansion. i and j are the exponents of the two regular mixing
                                fractions. When selected is present, k is the exponent attached to
                                the selected ternary-corner species and is expected to be the
                                asymmetric index of that term.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:string">
                                    <xs:attribute name="i" type="xs:integer" use="required" />
                                    <xs:attribute name="j" type="xs:integer" use="required" />
                                    <xs:attribute name="k" type="xs:integer" use="optional" />
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="selected" type="NoWhitespaceString" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Optional designated corner of an asymmetric ternary
                                interaction. The value names the species treated as the selected
                                corner in the ChemSage / Solution Module representation, while the
                                remaining two species form the regular pair.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MQM-L-RK">
        <xs:annotation>
            <xs:documentation>Redlich-Kister form of an MQM excess interaction. The polynomial is
                expanded in rank order. In asymmetric ternary usage, the optional selected element
                identifies which species is treated as the selected corner while the rank indexes
                the resulting Redlich-Kister series.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="MQMInteractionPropertyType">
                <xs:sequence>
                    <xs:element name="expr" minOccurs="1" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>One Redlich-Kister coefficient expression indexed by
                                rank. rank 0 is the base term, higher ranks are successive
                                polynomial orders in the chosen RK representation.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:string">
                                    <xs:attribute name="rank" type="xs:integer" use="required" />
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="selected" type="NoWhitespaceString" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Optional designated corner of an asymmetric ternary
                                interaction. The value names the species selected in the ternary
                                extrapolation, analogous to the selected corner used for pair-
                                fraction terms.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MQM-L-RM">
        <xs:annotation>
            <xs:documentation>Reciprocal middle parameter for a reciprocal interaction A,B:X,Y.
                This is the fully symmetric center term of the reciprocal square, so it is defined
                only by the four participating constituents and does not carry rank or exponent
                indices.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="MQMInteractionPropertyType">
                <xs:sequence>
                    <xs:element name="expr" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>The Gibbs-energy expression for the reciprocal-center
                                term. Because MQM-L-RM identifies the single fully symmetric point
                                of the reciprocal square, the expression is stored without
                                additional selector or exponent attributes.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MQM-L-RS">
        <xs:annotation>
            <xs:documentation>Reciprocal side parameter for a reciprocal interaction A,B:X,Y.
                These terms describe one side of the reciprocal square, that is, a parameter tied
                to one remaining degree of freedom while two adjacent corners contribute
                asymmetrically. The side is identified by the variant attribute.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="MQMInteractionPropertyType">
                <xs:sequence>
                    <xs:element name="expr" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Expression term for the selected reciprocal-side
                                parameter. The i, j, and k attributes carry the ChemSage exponent
                                triple for this term. Their physical association to side and
                                corner exponents depends on the chosen variant.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:string">
                                    <xs:attribute name="i" type="xs:integer" use="required" />
                                    <xs:attribute name="j" type="xs:integer" use="required" />
                                    <xs:attribute name="k" type="xs:integer" use="required" />
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="variant" type="MQMReciprocalSideVariantType" use="optional">
                    <xs:annotation>
                        <xs:documentation>Reciprocal-side selector. Expected values are the four
                            side encodings used by the Solution Module and design note:
                            A-BX-BY, B-AX-AY, X-AY-BY, or Y-AX-BX. The chosen variant determines
                            how the stored i, j, k triple maps to the side exponent and the two
                            adjacent corner exponents.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MQM-L-SP">
        <xs:annotation>
            <xs:documentation>Simple Polynomial (SP) interaction parameter for the Modified
                Quasichemical Model. The excess energy is expressed as a polynomial in pair
                fractions, where each term is indexed by i,j exponents representing simple
                polynomial multiplication of the mixing interaction.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="MQMInteractionPropertyType">
                <xs:sequence>
                    <xs:element name="expr" minOccurs="1" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>Expression term with pair-fraction exponents i and
                                j.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:string">
                                    <xs:attribute name="i" type="xs:integer" use="required" />
                                    <xs:attribute name="j" type="xs:integer" use="required" />
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MQM-L-Reciprocal">
        <xs:annotation>
            <xs:documentation>Reciprocal interaction parameter for the Modified Quasichemical
                Model. Used in systems with more than two sublattices where cation-cation mixing
                on one sublattice occurs simultaneously with anion-anion mixing on another. The
                third index k addresses the additional degree of freedom from the reciprocal
                reaction.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="MQMInteractionPropertyType">
                <xs:sequence>
                    <xs:element name="expr" minOccurs="1" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>Expression term with indices i, j, and k for the
                                reciprocal interaction polynomial.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:string">
                                    <xs:attribute name="i" type="xs:integer" use="required" />
                                    <xs:attribute name="j" type="xs:integer" use="required" />
                                    <xs:attribute name="k" type="xs:integer" use="required" />
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MQM-L-Quasichemical">
        <xs:annotation>
            <xs:documentation>Quasichemical interaction parameter for the Modified Quasichemical
                Model. Represents interaction parameters expressed directly in the quasichemical
                formalism, as opposed to pair-fraction or Redlich-Kister expansions. These are
                polynomial coefficients applied to the quasichemical equilibrium
                constant.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="MQMInteractionPropertyType">
                <xs:sequence>
                    <xs:element name="expr" minOccurs="1" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>Expression term with pair-fraction exponents i and
                                j.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:string">
                                    <xs:attribute name="i" type="xs:integer" use="required" />
                                    <xs:attribute name="j" type="xs:integer" use="required" />
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- ================================================================== -->
    <!-- Quadruplet and Charge Types                                        -->
    <!-- ================================================================== -->

    <xs:complexType name="MQMquadSite">
        <xs:annotation>
            <xs:documentation>Defines a quadruplet 'site' in the quasichemical model. Used only
                to construct non-default quadruplets with custom coordination numbers (Z
                values).</xs:documentation>
        </xs:annotation>
        <xs:attribute name="species" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>Name of the species occupying this quadruplet site.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Z" type="xs:float" use="required">
            <xs:annotation>
                <xs:documentation>Coordination number (Z value) for this species in the
                    quadruplet.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:simpleType name="chargeValues">
        <xs:annotation>
            <xs:documentation>Formal charge values for ionic species in the quasichemical model.
                Supports integer charges from -8 to +8, with or without explicit sign.
                Examples: "+2", "-3", "1", "0".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="0|[+-]?[1-8]" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MQMReciprocalSideVariantType">
        <xs:annotation>
            <xs:documentation>Allowed reciprocal-side encodings for MQM-L-RS parameters. Each
                value identifies which side of the reciprocal square is being parameterized.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="A-BX-BY" />
            <xs:enumeration value="B-AX-AY" />
            <xs:enumeration value="X-AY-BY" />
            <xs:enumeration value="Y-AX-BX" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MQMSpeciesGroupType">
        <xs:annotation>
            <xs:documentation>Allowed MQM species groups. The current model distinguishes only
                the two serialized groups used for cation and anion partitions.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int">
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
        </xs:restriction>
    </xs:simpleType>

    <!-- ================================================================== -->
    <!-- Unified Constituent Array Type (H3)                                -->
    <!-- ================================================================== -->

    <xs:complexType name="ConstituentArrayType">
        <xs:annotation>
            <xs:documentation>Unified constituent array type used by both CEF and MQM models.
                Each site element represents a sublattice, containing one or more const elements
                that reference species by name via the required species attribute. This type is
                used for endmember and interaction constituents. Ternary interpolation constituents
                use a separate inline type defined in core.xsd.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="site" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="const" minOccurs="1" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>References a species by name via the species
                                    attribute. The species must be defined in the parent phase's
                                    species block.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:attribute name="species" type="NoWhitespaceString" use="required">
                                    <xs:annotation>
                                        <xs:documentation>Name of the species occupying this site.
                                            Must match a species name in the phase's species
                                            block.</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- ================================================================== -->
    <!-- Abstract Interaction Type (H2)                                     -->
    <!-- ================================================================== -->

    <xs:complexType name="AbstractInteractionType" abstract="true">
        <xs:annotation>
            <xs:documentation>Abstract base type for interaction parameters in both CEF and MQM
                phase models. Captures the shared structure: a name attribute, structured
                constituents, and optional metadata (description, ref, comment). Concrete
                subtypes (CEFInteractionType, MQMInteractionType) extend this to add their
                respective property elements.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="constituents" type="ConstituentArrayType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Structured definition of which species participate in the
                        interaction, organized by sublattice site.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Optional free-text description or annotation for the
                        interaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ref" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Optional reference to the source of the interaction data
                        (e.g. literature citation key).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="comment" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Optional comment for assessor notes on this
                        interaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Human-readable label for the interaction, typically in the form
                    "A,B:C" denoting which species interact on which sublattice. Serves as
                    documentation, not as a programmatic key.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- ================================================================== -->
    <!-- MQM Interaction Type                                               -->
    <!-- ================================================================== -->

    <xs:complexType name="MQMInteractionType">
        <xs:annotation>
            <xs:documentation>Interaction parameter type for the Modified Quasichemical Model.
                Extends AbstractInteractionType with MQM-specific property elements. Use xsi:type
                on property elements to select concrete interaction models (MQM-L-PF, MQM-L-RK,
                MQM-L-RM, MQM-L-RS, MQM-L-SP, MQM-L-Reciprocal,
                MQM-L-Quasichemical).</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="AbstractInteractionType">
                <xs:sequence>
                    <xs:element name="property" type="MQMInteractionPropertyType" minOccurs="1"
                        maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>MQM interaction property. Use xsi:type to select
                                the concrete model: MQM-L-PF (pair fraction), MQM-L-RK
                                (Redlich-Kister), MQM-L-RM, MQM-L-RS, MQM-L-SP (simple
                                polynomial), MQM-L-Reciprocal, or
                                MQM-L-Quasichemical.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- ================================================================== -->
    <!-- Modified Quasichemical Phase Type                                  -->
    <!-- ================================================================== -->

    <xs:complexType name="ModifiedQuasichemicalPhaseType">
        <xs:annotation>
            <xs:documentation>Phase model type for the Modified Quasichemical Model (MQM). Models
                ionic or molecular liquids using quadruplet approximations with cation and anion
                sublattices.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="PhaseType">
                <xs:sequence>
                    <xs:element name="numberOfDatComponents" type="xs:integer" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Serialization metadata from ChemSage .dat format.
                                Indicates the number of distinct species constituents in this
                                quasichemical model. Used for format-level consistency validation,
                                not for thermodynamic computation.</xs:documentation>
                        </xs:annotation>
                    </xs:element>

                    <xs:element name="description" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Optional description of the quasichemical phase
                                model.</xs:documentation>
                        </xs:annotation>
                    </xs:element>

                    <!-- species -->
                    <xs:element name="species">
                        <xs:annotation>
                            <xs:documentation>Container for species definitions in this MQM phase.
                                Species are categorized into cation and anion groups for the
                                quadruplet formalism.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="specie" minOccurs="1" maxOccurs="unbounded">
                                    <xs:annotation>
                                        <xs:documentation>A single ionic species in the MQM
                                            phase.</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:attribute name="name" type="NoWhitespaceString" use="required">
                                            <xs:annotation>
                                                <xs:documentation>Unique name of the species, e.g.
                                                    "Na[+]", "Cl[-]".</xs:documentation>
                                            </xs:annotation>
                                        </xs:attribute>
                                        <xs:attribute name="composition" type="xs:string"
                                            use="required">
                                            <xs:annotation>
                                                <xs:documentation>Chemical composition of the
                                                    species, e.g. "Na", "Cl".</xs:documentation>
                                            </xs:annotation>
                                        </xs:attribute>
                                        <xs:attribute name="charge" type="chargeValues"
                                            use="required">
                                            <xs:annotation>
                                                <xs:documentation>Formal ionic charge of the
                                                    species.</xs:documentation>
                                            </xs:annotation>
                                        </xs:attribute>
                                        <xs:attribute name="group" type="MQMSpeciesGroupType" use="required">
                                            <xs:annotation>
                                                <xs:documentation>Group identifier (1 = cation,
                                                    2 = anion).</xs:documentation>
                                            </xs:annotation>
                                        </xs:attribute>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>

                    <!-- endmembers -->
                    <xs:element name="endmembers">
                        <xs:annotation>
                            <xs:documentation>Container for all endmember definitions of this MQM
                                phase. Each endmember represents a pure compound in the quadruplet
                                mixing space.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="endmember" type="MQMEndmemberType" minOccurs="1"
                                    maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>

                    <!-- non-default quadruplets (optional, before interactions) -->
                    <xs:element name="quadruplets" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Quadruplets with non-default zeta values. As zeta
                                values within a quadruplet are interdependent, some information is
                                redundant. Special care should be taken to ensure consistency with
                                the model constraints.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="quadruplet" minOccurs="1" maxOccurs="unbounded">
                                    <xs:annotation>
                                        <xs:documentation>A quadruplet defined by cation pair (A,B)
                                            and anion pair (X,Y). Since A-B and X-Y zeta values are
                                            interdependent, defining two automatically determines
                                            the others.</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:all>
                                            <xs:element name="a" type="MQMquadSite">
                                                <xs:annotation>
                                                    <xs:documentation>First cation site of the quadruplet.</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="b" type="MQMquadSite">
                                                <xs:annotation>
                                                    <xs:documentation>Second cation site of the quadruplet.</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="x" type="MQMquadSite">
                                                <xs:annotation>
                                                    <xs:documentation>First anion site of the quadruplet.</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="y" type="MQMquadSite">
                                                <xs:annotation>
                                                    <xs:documentation>Second anion site of the quadruplet.</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                        </xs:all>
                                        <xs:attribute name="name" type="xs:string" />
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>

                    <!-- interactions (optional, after quadruplets) -->
                    <xs:element name="interactions" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Container for excess energy interaction parameters
                                in this MQM phase. Interactions describe mixing energies between
                                species pairs or higher-order interactions.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="interaction" type="MQMInteractionType"
                                    minOccurs="0" maxOccurs="unbounded">
                                    <xs:key name="mqmInteractionSpeciesKey">
                                        <xs:selector xpath="tm:constituents/tm:site/tm:const" />
                                        <xs:field xpath="@species" />
                                    </xs:key>
                                    <xs:keyref name="mqmInteractionSelectedMustReferenceConstituent"
                                        refer="mqmInteractionSpeciesKey">
                                        <xs:selector xpath="tm:property/tm:selected" />
                                        <xs:field xpath="." />
                                    </xs:keyref>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>

                    <!-- ternary interpolations (optional) -->
                    <xs:element name="ternaryInterpolations" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Ternary interpolation definitions. By default,
                                Muggianu mixing is assumed. Kohler and Toop interpolations are also
                                supported.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="interpolation" type="InterpolationType"
                                    minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>
